﻿.autocomplete-suggestions {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e9ecef;
	background: #FFF;
	cursor: default;
	overflow: none;
	-webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .1);
	font-family: inherit;
}

.autocomplete-suggestion,
.autocomplete-search,
.autocomplete-add {
	padding: 7px 10px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}

.autocomplete-suggestion {
	/*color: #212529;*/
}

.autocomplete-suggestion:hover {
	background: #fafafa;
}

.autocomplete-search {
	padding: 10px;
	font-size: 12px;
	/*border-bottom: 1px solid #e9ecef;*/
}

.autocomplete-search:hover {
	background-color: #fafafa;
}

.autocomplete-search span {
	font-weight: 600;
}

.autocomplete-add {
	padding: 7px 10px;
	border-top: 1px solid #e9ecef;
	background-color: #fafafa;
}

.autocomplete-no-suggestion {
	padding: 2px 5px;
}

.autocomplete-selected {
	/*background: #fafafa;*/
}

.autocomplete-suggestions strong {
	font-weight: 600;
	color: #212529;
}

.autocomplete-group {
	padding: 10px 0;
	margin: auto 10px;
	font-weight: 500;
	font-size: 14px;
	color: #6c757d;
	display: block;
	position: relative;
	/*border-bottom: 1px solid #e9ecef;*/
}

.autocomplete-group:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 1px;
	background-color: #e9ecef;
	width: 100%;
}

.autocomplete-icon {
	color: #6c757d;
	padding-right: 5px;
}

.autocomplete-img {
	width: 15px;
	height: 15px;
	padding-right: 5px;
}