.loader4:before,
.loader4:after,
.loader4 {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load4 1.8s infinite ease-in-out;
  animation: load4 1.8s infinite ease-in-out;
}
.loader4 {
  margin: auto auto 10em auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader4:before {
  left: -3.5em;
}
.loader4:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader4:before,
.loader4:after {
  content: "";
  position: absolute;
  top: 0;
}
@-webkit-keyframes load4 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em gray;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
@keyframes load4 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em gray;

  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
.adjust
{min-height:60px; height:auto;}
.mt
{ margin-top:50px;}